<apex:page sidebar="false"
    docType="html-5.0"
    standardStylesheets="false"
    >
<html lang="en">

    <head>
      <meta charset="utf-8" />
      <title>Survey Complete</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    </head>

<style>

h1{
font-family: 'Salesforce Sans', Arial,sans-serif;
font-size: 3rem;
font-weight: normal;
color: rgb(0, 112, 210);
}

.sentSurvey{
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

</style>

<div class = 'sentSurvey'>
  <h1>Your survey has been sent.</h1>
</div>



 </html>
</apex:page>